@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap");
.form-control, .form-control:focus, .input-group-addon {
  border-color: #e1e1e1;
}

.signup-form {
  width: 50%;
  margin: 0 auto;
  padding: 3rem 0;
}

input {
  font-size: 2rem;
  font-weight: 500;
}

.signup-form form {
  color: black;
  border-radius: 3rem;
  margin-bottom: 1.5rem;
  background: #fff;
  -webkit-box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  padding: 30px;
}

.signup-form h1 {
  color: black;
  font-weight: bold;
  margin-top: 0;
}

.signup-form hr {
  margin: 0 -3rem 2rem;
}

.signup-form .form-group {
  margin-bottom: 2rem;
}

.signup-form label {
  font-weight: normal;
  font-size: 1.3rem;
}

.signup-form .form-control {
  min-height: 5rem;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 1.8rem;
  font-weight: bold;
}

.signup-form .input-group-addon {
  max-width: 4.2rem;
  text-align: center;
}

.signup-form input[type="checkbox"] {
  margin-top: 0.2rem;
}

.signup-form .btn {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.signup-form a {
  color: #fff;
  text-decoration: underline;
}

.signup-form a:hover {
  text-decoration: none;
}

.signup-form form a {
  color: #19aa8d;
  text-decoration: none;
}

.signup-form form a:hover {
  text-decoration: underline;
}

.signup-form .fa {
  font-size: 3rem;
  margin-top: 1rem;
  margin-right: 0.7rem;
}

.signup-form .fa-paper-plane {
  font-size: 18px;
}

.signup-form .fa-check {
  color: #fff;
  left: 1.7rem;
  top: 1.8rem;
  font-size: 0.7rem;
  position: absolute;
}

p {
  font-size: 1.5rem;
}

.form-group:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error {
  color: red;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .signup-form {
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .my-header {
    margin-top: 1rem;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-bottom: 2rem;
}

.button {
  border: 1px solid #edc988;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.3rem 1.5rem;
  background-color: #9ad3bc;
  border-color: #9ad3bc;
  color: #132743;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-right: 0.25rem;
}

.button:hover {
  background-color: #2ec1ac;
  border-color: #2ec1ac;
  cursor: pointer;
}

.button:focus {
  outline: none;
  border-color: #2ec1ac;
  background-color: #2ec1ac;
  color: #eeecda;
}

.button.addTask {
  font-size: 3rem;
  padding: 0 0 0.4rem 0;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1rem;
  margin-top: 2rem;
}

.button.moveTask {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  margin-bottom: 0;
  line-height: 1rem;
}

.button.delete {
  background-color: #ffa5a5;
  border-color: #ffa5a5;
}

.button.delete:hover {
  background-color: #ff8282;
  border-color: #ff8282;
}

@media only screen and (max-width: 75rem) {
  section {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.statusLine {
  width: 100%;
  margin: 0 0.5rem;
}

.statusLine h3 {
  font-weight: 500;
  margin: 1rem 0;
}

@media only screen and (max-width: 75rem) {
  .statusLine {
    width: initial;
    margin-top: 1.5rem;
  }
}

.task {
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 0.25rem;
}

.task.collapsedTask .moveTask {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  padding: 0.3rem 0.5rem;
}

.task form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.25rem;
  min-width: 100%;
}

.task form .input {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #eeecda;
  text-align: center;
  resize: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Kanit", sans-serif;
}

.task form .input:hover {
  cursor: pointer;
  border: 1px solid #eeecda;
}

.task form .input:focus {
  outline: none;
  border-color: #edc988;
  color: #edc988;
}

.task form .input::-webkit-input-placeholder {
  color: #eeecda;
}

.task form .input:-ms-input-placeholder {
  color: #eeecda;
}

.task form .input::-ms-input-placeholder {
  color: #eeecda;
}

.task form .input::placeholder {
  color: #eeecda;
}

.task form .title {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 1.1rem;
}

.task form .title:hover {
  cursor: text;
}

.task form .description {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.1rem;
}

.task form .description:hover {
  cursor: text;
}

.task form .urgencyLabels {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.task form .urgencyLabels label {
  color: #132743;
  padding: 0.05rem 0.5rem;
  margin: 0 0.25rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.task form .urgencyLabels label .icon {
  font-size: 1.25rem;
  margin-right: 0.25rem;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.task form .urgencyLabels label .icon.hide {
  display: none;
}

.task form .urgencyLabels label .icon.show {
  display: inline-block;
}

.task form .urgencyLabels label input {
  display: none;
}

.task form .urgencyLabels label.low {
  background-color: #9ad3bc;
}

.task form .urgencyLabels label.low:hover {
  cursor: pointer;
  background-color: #2ec1ac;
  border-color: #2ec1ac;
}

.task form .urgencyLabels label.medium {
  background-color: #edf285;
}

.task form .urgencyLabels label.medium:hover {
  cursor: pointer;
  background-color: #2ec1ac;
  border-color: #2ec1ac;
}

.task form .urgencyLabels label.high {
  background-color: #ffa5a5;
}

.task form .urgencyLabels label.high:hover {
  cursor: pointer;
  background-color: #2ec1ac;
  border-color: #2ec1ac;
}

.task form .urgencyLabels label.selected {
  font-weight: 700;
}

.task form.collapsed {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  min-width: 80%;
}

.task form.collapsed .title {
  margin: 0;
}

.task form.collapsed .title:hover {
  border-color: transparent;
  cursor: default;
}

.task form.collapsed .urgencyLabels {
  margin-bottom: 0;
  margin-right: 1rem;
}

.task form.collapsed .description,
.task form.collapsed label {
  display: none;
}

.task form.collapsed label.selected {
  display: inline-block;
  font-weight: 500;
}

.task form.collapsed .button {
  padding: 0.025rem 0.5rem;
}

.task form.collapsed .button.moveTask {
  background-color: red;
}

.task form.collapsed:hover .button {
  display: inline-block;
}

.task_management_header {
  color: #fff;
  text-align: center;
}

.status_name {
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
  background-color: #0a183d;
}

a, a:hover {
  text-decoration: none;
}

.main_header {
  width: 100vw;
  line-height: 10rem;
  background-color: black;
}

.main_header .navbar-brand {
  color: #fff;
  font-size: 4rem;
}

.main_header .navbar-brand:hover {
  -webkit-filter: drop-shadow(0, 1.5rem 1rem rgba(255, 255, 255, 0.5));
          filter: drop-shadow(0, 1.5rem 1rem rgba(255, 255, 255, 0.5));
}

.main_header .fas {
  font-size: 4rem;
}

@-webkit-keyframes music {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes music {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

.main_header .navbar-nav {
  padding-left: 15rem;
}

.main_header .navbar-nav .nav-item .nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  padding-right: 3rem;
}

.main_header .navbar-nav .nav-item:last-child > .nav-link {
  padding-right: 0%;
}

.main_header .nav-item:hover > .nav-link, .main_header .navbar-brand.hover, .main_header .navbar-brand:hover > .fas {
  color: #b71540;
}

.main_header .my-btn {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
}

.main_header .my-btn:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.header_hero {
  width: 100%;
  height: 80vh;
  background: #0a183d;
}

.header_hero__text {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header_hero__text h2 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 3rem;
  line-height: 150%;
  font-weight: 600;
}

.header_hero__text h2 span:first-child {
  color: #b71540;
  text-transform: capitalize;
}

.header_hero__text p {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 2rem;
}

.header_hero__text .header_text__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header_hero__text .header_text__btn a {
  padding: 0.8rem 3.2rem;
  background: #b71540;
  line-height: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  border: none;
  -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  border-radius: 4.5rem;
  outline: none;
  margin-left: 0.7rem;
}

.header_hero__text .header_text__btn a:hover {
  background-color: #fff;
  -webkit-box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
          box-shadow: 0rem 1.5rem 2rem rgba(255, 255, 157, 0.4);
  color: #0a183d;
  -webkit-transform: translateY(-0.7rem);
          transform: translateY(-0.7rem);
}

.header_hero__img {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: img 1s linear infinite;
          animation: img 1s linear infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes img {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}

@keyframes img {
  from {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
}
/*# sourceMappingURL=main.css.map */